---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Canada's trusted platform for buying and selling digital assets." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white">
    <slot />
    <script>
      import { inject } from '@vercel/analytics';
      inject();
    </script>
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
